@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
h1.name{
    margin-left: 50px;
    padding-top: 70px;
    color: #f2bd29;
    font-family: 'Roboto Mono', monospace;
}
h3{
    margin-left: 50px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0ch;
    font-weight: 700;
}
h4{
    padding-top: 70px;
    color: #f2bd29;
    font-family: 'Roboto Mono', monospace;
}
span.location{
    margin-left: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
    letter-spacing: 0ch;
    font-weight: 400;
}
a.downloadBtn{
    color: #cd8343;
    margin-left: 50px;
    font-size: 20px;
    letter-spacing: 0ch;
}
a.btn:hover{
    background-color:black;
    color: rgba(240, 212, 212, 0.867);
}
ul li:hover{
    color: #f2bd29;
}